* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
  }
  
  /* Evitamos problemas con las imagenes */
  img,
  picture,
  video,
  iframe,
  figure {
    max-width: 100%;
    width: 100%;
    display: block;
  }
  
  /* Reseteamos los enlaces para funcionar como cajas... */
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  /* ... excepto los que se encuentran en pÃ¡rrafos */
  p a {
    display: inline;
  }
  
  /* Quitamos los puntos de los <li> */
  li {
    list-style-type: none;
  }
  
  /* Configuramos anclas suaves */
  html {
    scroll-behavior: smooth;
  }
  
  /* Desactivamos estilos por defecto de las principales etiquetas de texto */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a,
  strong,
  blockquote,
  i,
  b,
  u,
  em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }
  
  /* Evitamos problemas con los pseudoelementos de quotes */
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  
  /* Configuramos el texto que seleccionamos */
  ::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  
  ::selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  
  /* Nivelamos problemas de tipografÃ­as y colocaciÃ³n de formularios */
  form,
  input,
  textarea,
  select,
  button,
  label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* opcional */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  /* Reseteamos las tablas */
  table,
  tr,
  td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Evitamos problemas con los SVG */
  svg {
    width: 100%;
    display: block;
    fill: currentColor;
  }
  
  /* Configuramos la tipografÃ­a para toda la web */
  body {
    min-height: 100vh;
    font-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
    color: var(--negro);
    /* opcional */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    /* opcional */
    font-smooth: always;
    /* opcional */
    -webkit-font-smoothing: antialiased;
    /* opcional */
    -moz-osx-font-smoothing: grayscale;
  }


.edit{
    margin: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 33px;
}

.edit__img{
    max-width: 50%; 
    
    background-color: green;
}

.edit__form{
    width: 50%;
    background-color: rgba(161, 195, 152, 0.9);
    padding: 2rem;
    border-radius: .625rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.edit__input{
    width: 100%;
    padding: 0.8rem;
    border: .0625rem solid rgb(254, 253, 237);
    border-radius: .3125rem;
    font-size: 1rem;
}

.edit__input.steps{
    padding-bottom: 100px;   
}

.edit__buts{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.edit__button.cancel{
    margin-top: 30px;
    padding: 13px 15px;
    background-color: rgb(254, 253, 237);
    display: inline;
    border: 0.5px solid rgb(250, 112, 112);
    border-radius: 50px;
    color: rgb(250, 112, 112);
}

.edit__button.cancel:hover{
    background-color: rgb(250, 112, 112);
    color: rgb(254, 253, 237);
}

.edit__button.save{
    margin-top: 30px;
    padding: 13px 15px;
    background-color: rgb(254, 253, 237);
    display: inline;
    border: 0.5px solid rgb(161, 195, 152);
    border-radius: 50px;
    color: rgb(161, 195, 152);
}

.edit__button.save:hover{
    background-color: rgb(161, 195, 152);
    color: rgb(254, 253, 237);
}

@media(max-width: 700px){
  .edit{
    width: 90%;
      margin-top: 2.5rem;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
  }
  .edit__img{
    max-width: 70%;
  }
  .edit__form{
    width: 70%;
  }
}